@font-face {
  font-family: "Motiva";
  src: url("demo1/fonts/webfont.eot"); /* IE9 Compat Modes */
  src: url("demo1/fonts/webfont.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("webfont.woff2") format("woff2"),
    /* Super Modern Browsers */ url("demo1/fonts/webfont.woff") format("woff"),
    /* Pretty Modern Browsers */ url("demo1/fonts/webfont.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("demo1/fonts/webfont.svg#svgFontName")
      format("svg"); /* Legacy iOS */
}
